# Ignore Vitis HLS build output directories
/build
/export
/Crypto3DStackCPU_top

# Ignore object, dependency, and log files
*.o
*.d
*.log
*.lock
*.bin
*.pdi

# Ignore Vitis workspace transient state
.vitisWorkspace.json

# Ignore IDE transient logs
_ide/logs
_ide/.wsdata
